.outer-container {
	display: flex;
	padding: 0.5em;
}

.preview-container {
	border: 2px solid black;
	flex: 1 0 0px;
	margin-left: 1em;
	padding: 0.5em;
}

.rule-container {
	margin-bottom: 2em;
}

.translation-container {
	padding: 0.5em;
}

.translation-container:nth-child(even) {
	background-color: #eeeeee;
}

.button {
	margin-bottom: 0.2em;
}

.outer-container .subtitle {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.language-flag {
	width: 3em;
}