.button {
	margin-bottom: 0.2em;
}

footer {
	display: flex;
	justify-content: center;
}

.language-row {
	display: flex;
	flex-direction: row;
}

.outer-container {
	display: flex;
	padding: 0.5em;
}	

.outer-container .language-flag {
	width: 3em;
}

.outer-container .subtitle {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.preview-container {
	border: 2px solid black;
	flex: 1 0 0px;
	margin-left: 1em;
	padding: 0.5em;
}	

.preview-container footer {
	display: none;
}

.preview-flag {
	display: flex;
	flex-direction: column;
}

.preview-flag .first button:first-child, .preview-flag .last button:last-child {
	visibility: hidden;
}

.preview-flag:only-child .sort {
	visibility: hidden;
}

.preview-flag .language-flag {
	margin-left: 1em;
	margin-right: 1em;
	width: 5em;
}

.preview-flag .sort {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.rule-container {
	margin-bottom: 2em;
}	

.rule-container .first button:first-child, .rule-container .last button:last-child {
	visibility: hidden;
}

.rule-container .only {
	visibility: hidden;
}

.translation-container {
	padding: 0.5em;
}	

.translation-container:nth-child(even) {
	background-color: #eeeeee;
}	

/**
>> ICONS
*/

.icon {
	width: 70px;
	height: 70px;
	border-radius: 15px;
	margin-top: 1em;
	margin-left: 1em;
	border-style: solid;
	border-width: 2px;
}

.do {
	background-color: #AEDBC2;
	border-color: #19A064;
}

.dont {
	background-color: #EE7B5F88;
	border-color: #C24530;
}

/**
<< ICONS
*/

@page {
	size: A4;
	margin: 0mm;
}

@media print {
	html,
	body {
		margin: 0;
		padding: 0;

		width: 210mm;
		height: 260mm;
	}

	.preview-container {
		height: 100%;
		position: relative;
		display: block;

		page-break-after: always;

		border-style: none;
		margin: 0;
		padding: 7mm;
	}

	.preview-container footer {
		display: block;
		right: 10mm;
		position: fixed;
		bottom: 10mm;
	}

	.noprint {
		display: none;
	}
}
