html {
	font-size: initial;
}

html,
body {
	background-color: #f5f5f5;
}

.button {
	margin-bottom: 0.2em;
}

.button.is-info:focus:not(:active),
.button:focus:not(:active) {
	box-shadow: 0 0 0 0.125em rgba(0,0,0,.5);
}

.feedback {
	margin-top: 2em;
}

footer {
	display: flex;
	justify-content: space-evenly;
}

.outer-container {
	display: flex;
	padding: 0.5em;
	justify-content: space-around;
}	

.outer-container .subtitle {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.preview-container {
	display: block;
}

.page {
	/* outside */
	border: 1px solid black;
	box-shadow: 4px 4px 9px 2px rgba(0,0,0,.25);
	margin-top: 2rem;

	/* inside */
	/* define 1mm = .1875em */
	background-color: white;
	color: black;
	padding: 1.171875em;
	width: 39.375em;
	height: 55.6875em;
	display: flex;
	flex-direction: column;
	position: relative;
	line-height: 1.5em;

	/* base for the preview */
	font-size: 1.25rem;
}

.page-number {
	position: absolute;
	font-size: 1rem;
	top: -1.5rem;
	left: .25rem;
	line-height: 1.5em;
}

@media screen and (max-width: 59.375rem) {
	.page {
		font-size: .625rem;
	}
}

@media screen and (min-width: 59.375rem) and (max-width: 87.5rem) {
	.page {
		font-size: calc((100vw - 31.25rem)/45);
	}
}

.page-content {
	display: flex;
	flex-direction: column;
}

.languages {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 1.5em;
	justify-content: space-around;
}

.page footer {
	position: absolute;
	right: 1.171875em;
	bottom: 1.171875em;
	padding: 0 .5em;
	font-size: .75em;
	background-color: white;
}

.language {
	display: flex;
	flex-direction: column;
	margin-left: .5em;
	margin-right: .5em;
	white-space: nowrap;
}

.horizontal-separator {
	height: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.horizontal-separator .line {
	height: .07em;
	width: 100%;
}

.rule-container {
	padding: 0.75em 0.75em 0.75em 1.25em;
	position: relative;
}

.rule-container .rule-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: white;
	stroke-width: .2em; /* only half will ve displayed */
}

.rule-content {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 10em;
}

.rule-do .rule-background {
	stroke: rgb(0, 128, 0);
}

.rule-dont .rule-background {
	stroke: rgb(128, 0, 0);
}

.shout .rule-container .icon-background {
	stroke: white;
}

.shout .rule-do .rule-background {
	fill: rgb(0, 128, 0);
}

.shout .rule-dont .rule-background {
	fill: rgb(128, 0, 0);
}

.shout .rule-container .icon {
	filter: invert();
}

.shout .translation-container,
.shout .translation-container:nth-child(even) {
	color: white;
	font-weight: bold;
	-webkit-print-color-adjust: exact;
}

.shout .translation-container.bigfont,
.shout .translation-container:nth-child(even).bigfont {
	font-weight: normal;
}

.scr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.preview {
	display: flex;
	flex-direction: column;
	margin-left: 1em;
}

.translation-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 2.5em;
	line-height: 1.25em;
}

.translation-container.bigfont {
	font-size: 1.25em;
	height: 2.4em;
}

.translation-container:nth-child(even) {
	color: #097190;
}

.translations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1.25em;
}

.multiselect-list {
	max-height: 20em;
	overflow-y: auto;
	overflow-x: auto;
	background-color: white;
	border: 1px solid darkgray;
}

.multiselect-list:focus .current {
	background-color: #f0f0ff;
}

.multiselect-list .current {
	background-color: #f5f5f5;
}

.multiselect-list .option {
	padding: .2em .5em;
	line-height: 2.5em;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
.multiselect-list .option:before {
	content: "\2715";
	color: red;
	font-size: 1.2em;
	display: inline-block;
	margin-right: 1em;
}

.multiselect-list .option.selected:before {
	content: "\2714";
	color: green;
}

.style-selection {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	background-color: white;
	border: 1px solid darkgray;
	height: 9.2em;
	align-items: center;
	padding: .25em;
}

.style-selection .option {
	padding: .5em;
}

.style-selection .option.selected {
	background-color: #c0c0ff;
}

.style-selection .page {
	font-size: .125rem;
	margin-top: 0;
	box-shadow: none;
}

.style-selection .page footer {
	display: none;
}

/**
>> ICONS
*/

.rule-container .icon {
	width: 7.75em;
	height: auto;
	padding: 1em;
	position: relative;
	max-width: none;
}

.rule-container .icon-background {
	stroke-width: 3; /* in % */
	fill: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.rule-container .icon-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rule-container .icon-holder {
	position: relative;
	line-height: 0;
}

.multiselect-list .icon {
	width: 2.5em;
	height: 2.5em;
	margin-right: 0.5em;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	padding: .2em;
	position: relative;
}

.do {
	border-color: rgb(0, 128, 0);
}

.rule-do .icon-background {
	stroke: rgb(0, 128, 0);
}

.dont {
	border-color: rgb(128, 0, 0);
}

.rule-dont .icon-background {
	stroke: rgb(128, 0, 0);
}

.rule-do .icon {
	/* Generated by https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(22%) sepia(97%) saturate(2212%) hue-rotate(94deg) brightness(99%) contrast(103%);
}

.rule-dont .icon {
	/* Generated by https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(9%) sepia(46%) saturate(5570%) hue-rotate(352deg) brightness(119%) contrast(119%);
}


/**
<< ICONS
*/

/**
>> PRINTING
*/

@media print {
	* {
		overflow-x: visible;
		overflow-y: visible;
	}

	html,
	body {
		margin: 0;
		padding: 0;
	}

	.preview-container {
		transform: initial;
	}

	.page {
		border-style: none;
		box-shadow: none;
		margin: 0;
		width: 210mm;
		height: 295mm; /* Prevent extra gages in Chrome */
		display: block;
		font-size: 5.33mm;
		padding: 6.25mm;
	}

	.page:before {
		display: none;
	}

	.page-content {
		page-break-inside: avoid;
		-webkit-region-break-inside: avoid;
		margin-left: -4mm;
	}

	/* Chrome first page correction */
	.page.first-page {
		padding-top: 4.25mm;
		padding-bottom: 8.25mm;
	}

	.horizontal-separator {
		height: 5mm;
	}

	.horizontal-separator .line {
		height: .5mm;
	}

	.page-break {
		page-break-after: always;
		height: 0.001mm;
		position: relative;
	}

	.page footer {
		/* always in the same location */
		display: block;
		position: fixed;
		right: 6.25mm;
		bottom: 6.25mm;
	}

	.noprint {
		display: none;
	}
}

/**
<< PRINTING
*/
